# Copia este archivo como .env y ajusta los valores antes de desplegar
# cp .env.example .env

DB_NOMBRE=petsalud
DB_USUARIO=petsalud
DB_CONTRASENA=cambia_esta_contrasena
DB_ROOT_CONTRASENA=cambia_esta_root

# Dominio que expondrá nginx-proxy para esta app
VIRTUAL_HOST=petsalud.docker.sulbaranjc.com
